.Container {
  display: flex;
  margin: 16px;
}

.Table {
  flex: 1;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.TableHeaderStack {
  display: flex;
  user-select: none;
  gap: 32px;
}

.TableHeaderStackItem {
  position: relative;
  padding: 5px 10px;
  color: inherit;
  text-transform: none;

  &:not(:first-child) {
    &::before {
      position: absolute;
      top: 15px;
      right: 0;
      bottom: 0;
      left: -18px;
      display: inline-block;
      width: 5px;
      height: 5px;
      padding: 3px;
      content: "";
      transform: rotate(135deg);
      border: solid black;
      border-width: 0 3px 3px 0;
    }
  }
}

.TableHeaderControls {
  display: flex;
  gap: 10px;
}

.TableList {
  padding-top: 0;
}

.TableListHeader {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.TableListColumn {
  width: 25%;
  user-select: none;

  &:first-child {
    display: flex;
    width: 50%;
  }
}

.TableListItems {
  overflow-y: auto;
  height: calc(100vh - 200px);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
  }
}
