.Container {
  display: flex;
  margin: 16px;
}

.Table {
  flex: 1;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.TableHeaderControls {
  display: flex;
  gap: 10px;
}

.TableList {
  padding-top: 0;
}

.TableListHeader {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.TableListColumn {
  width: 25%;
  user-select: none;

  &:first-child {
    display: flex;
    width: 50%;
  }
}
