.Container {
  display: flex;
  margin: 16px;
}

.Sidebar {
  margin-right: 16px;
}

.CreateButton {
  padding: 16px;
  text-transform: none;
  color: inherit;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.TableContainer {
  flex: 1;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
}

.TableList {
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
}

.TableListHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.TableListColumn {
  width: 25%;
}

.TableListColumn:first-child {
  display: flex;
  width: 50%;
}

.TableListItemButton {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
